.red-text {
    color: red;
}

.green-text {
    color: green;
}

.dodgerblue-text {
    color: dodgerblue;
}

.goldenrod-text {
    color: goldenrod
}

.purple-text {
    color: purple
}

.brown-text {
    color: brown
}

