.red-text {
    color: red;
}

.green-text {
    color: green;
}

.dodgerblue-text {
    color: dodgerblue;
}

.goldenrod-text {
    color: goldenrod
}

.purple-text {
    color: purple
}

.brown-text {
    color: brown
}

.highlight-console pre {
    font-size: 14px;
/*    font-family: "Consolas", monospace */
}

code {
/*    font-family: "Consolas", monospace; */
    font-size: 14px;
    color:dodgerblue
}
